/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
}

img{
    max-width: 100%;
}
/* regole header */

#app{
    position: relative;
}

header{
    height: 100px;
    background-color: #009688;
}

/* regole main */

main{
    height: calc(100vh - 100px);
    background-color: #dbdbd2;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    position: absolute;
    top: 15px;
    bottom: 15px;
    height: calc(100vh - 30px);
    display: flex;
    /* debug */
    border: 1px solid black;
}

.contacts{
    width: 490px;
    /* debug */
    background-color: coral;
}

.chat{
    width: 100%;
    background-image: url(../img/mine.jpg);
}

.top-main{
    height: 50px;
    background-color: #eaeaea;
    border-left: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 15px;
}

#user{
    display: flex;
    align-items: center;
}

#user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#user span{
    margin-left: 5px;
    font-size: 14px;
}

.icons{
    color: #b1b1b1;
}

.icons .center-icon{
    margin-inline: 15px;
}

#notifications{
    height: 58px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#notifications .fa-bell-slash{
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    color: #8edafc;
}
.msg-notifications a, .msg-notifications span{
    display: block;
    font-size: 13px;
    margin-left: 10px;
}

.msg-notifications a{
    color: #5e91a8;
}

.search{
    height: 40px;
    background-color: #fff;
    padding: 5px;
    display: flex;
}

.search input{
    width: 100%;
    height: 30px;
    border-color: #b1b1b1 #b1b1b1 #b1b1b1  white;
    padding-left: 15px;
}

.search i{
    border-color: #b1b1b1  white #b1b1b1 #b1b1b1;
    height: 30px;
    line-height: 30px;
    color: #b1b1b1 ;
    padding: 0 10px 0 20px;
}

.search input, .search i{
    border-style: solid;
    border-width: 1px;
}
                    