/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
}


/* regole header */

#app{
    position: relative;
}

header{
    height: 100px;
    background-color: #009688;
}

/* regole main */

main{
    height: calc(100vh - 100px);
    background-color: #dbdbd2;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    position: absolute;
    top: 15px;
    bottom: 15px;
    height: calc(100vh - 30px);
    display: flex;
    /* debug */
    border: 1px solid black;
}

.contacts{
    width: 390px;
    /* debug */
    background-color: coral;
}

.chat{
    width: 100%;
    /* debug */
    background-image: url(../img/mine.jpg);
}

.top-main{
    height: 50px;
    background-color: #eaeaea;
    border-left: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.icons{
    color: #b1b1b1;
    padding: 0 15px;
}

.icons .center-icon{
    margin-inline: 15px;
}
                    